<h1>User info</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |m| %><li><%= m %></li><% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user do |f| %>

  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :profile_image, "Image" %>
    <%= f.file_field :profile_image, accept: "image/*", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :introduction %>
    <%= f.text_area :introduction, rows: 4, class: "form-control" %>
  </div> 

  <%= f.submit "Update User", class: "btn btn-primary" %>
<% end %>