<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/ddeb48cbe9.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="mb-3">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
          <!-- 左：ブランド -->
          <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
            <span>Bookers</span>
          <% end %>

          <!-- 右：リンク群 -->
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to user_path(current_user), class: "nav-link" do %>
                  <i class="fas fa-home"></i> Home
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to users_path, class: "nav-link" do %>
                  <i class="fas fa-users"></i> Users
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to books_path, class: "nav-link" do %>
                  <i class="fas fa-book-open"></i> Books
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                  <i class="fas fa-sign-out-alt"></i> Log out
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to root_path, class: "nav-link" do %>
                  <i class="fas fa-home"></i> Home
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to about_path, class: "nav-link" do %>
                  <i class="fas fa-link"></i> About
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: "nav-link" do %>
                  <i class="fas fa-user-plus"></i> Sign up
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: "nav-link" do %>
                  <i class="fas fa-sign-in-alt"></i> Log in
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <% flash.each do |key, message| %>
      <% next if key.to_s == "errors" %>  
      <div class="alert alert-<%= key == "notice" ? "success" : "danger" %>">
        <%= message %>
      </div>
    <% end %>
    
    <%# ★ 詳細エラーはここだけで表示（1か所だけ） %>
    <% if (errs = (flash.now[:errors] || flash[:errors])).present? %>
      <% errs = Array(errs) %>
      <div class="alert alert-danger">
        <h4><%= pluralize(errs.size, "error") %> prohibited this action:</h4>
        <ul class="mb-0">
          <% errs.each do |msg| %><li><%= msg %></li><% end %>
        </ul>
      </div>
    <% end %>

    <main>
      <div class="container">
        <div class ="row">            
          <%= yield %>
        </div>
      </div>
    </main>

    <footer class="text-center mt-5">
      <p>CopyRight infratop.inc</p>
    </footer>
  </body>
</html>
